@charset "UTF-8";
html{
    font-size: 100%;
}
ul{
    font-family: 'Cairo', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.logo{
    width:100px;
    margin-top: 10px;
    margin-left: 14px;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
*{
    margin: 0;
    padding: 0;
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*大型背景影像*/
.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#home{
    background-image: url(2.jpg);
    min-height: 100vh;
}
#home.page-title{
    text-transform: none;;
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
.bg img {
    min-height: 100%;
    min-width: 500px;
    width: 100%;
}

@media screen and (max-width: 250px) {
    img.bg {
        left: 100%;
        margin-left: -500px;
    }

}#bg-img {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -99;
}
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform:uppercase ;
    margin-top: 34px;
    list-style: none;
}
.main li{
    margin-left: 36px;
}
.main a{
    color: rgb(61, 43, 24);
}
.main a:hover{
    color: #0bd;
}
.bg{
    display: flex;
    justify-content: space-between;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.wrapped{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
.home-content{
    text-align: center;
    margin-top: 7.5%;
}
.wrapper h2{
    font-size: 4.5rem;
    margin: 30px 0px 42px;
    -webkit-text-stroke: 1.5px rgb(85, 83, 83);
    color: white;
    text-shadow:
        5px 5px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
}

.page-title{
    color: azure;
    font-size: 5rem;
    font-family:'Philosopher',serif;
    text-transform: uppercase;
    font-weight:normal;
}
.button{
    font-size: 1.375rem;
    background: rgb(117, 197, 211);
    color:#fff;
    border-radius: 5px;
    padding: 20px 32px;
}
.button:hover{
    background: #0090aa;
}
#big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#home{
    background-image: url(C:\Users\88690\Desktop\HTML\作品集\2.jpg);
    min-height: 100vh;
}
#home .page-title{
    text-transform: none;
}


#news{
    background-image: url(2.jpg);
    height: 160px;
    margin-bottom: 40px;
}
#news .page-title{
    text-align: center;
}

footer{
    background: rgb(152, 156, 116);
    text-align: center;
    padding: 26px 0;
}
footer p{
    color: rgb(225, 233, 158);
    font-size: 0,875rem;
}

article{
    width: 74%;
}
aside{
    width: 22%;
}

.news-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.post-info{
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}
.post-date{
    background: #0bd;
    border-radius: 50%;
    color: #fff;
    width: 90px;
    height: 75px;
    font-size: 1.425rem;
    text-align: center;
    position:   absolute;
    top: 0;
    padding-top: 15px;
}
.post-date span{
    font-size: 1rem;
    border-top: 1px rgba(255,255,255,5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}
.post-title{
    font-family: "Yu Mincho","YuMincho",serif;
    font-size: 2rem;
    font-weight: normal;
}
.post-title,
.post-cat{
    margin-left: 120px;
}
article img{
    margin-bottom: 20px;
}
article p{
    margin-bottom: 1.5rem;
    width: 600px;
}
.sub-title{
    font-size: 1.375rem;
    padding:0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}
aside p{
    padding: 20px 20px;
}
.sub-menu{
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li{
    border-bottom: 1px rgba(221, 221, 221, 0.589) solid;
}
.sub-menu a{
    color: #432;
    padding: 10px;
    display: block;
}
.sub-menu a:hover{
    color: #0bd ;
}
.pic1{
    margin-top: 50px;
    width: 600px;

}
.pic2{
    margin-top: 30px;
    width: 600px;

}
.w1{
    font-size: 35px;
    font-weight: 1000;
}
